---
import ContentSection from "../components/display/ContentSection.astro";
import ContentTitle from "../components/display/ContentTitle.astro";
import Question from "../components/display/Question.astro";
import Tagline from "../components/layouts/Tagline.astro";
import TaglineIcon from "../components/layouts/TaglineIcon.astro";
import { CONFIG } from "../config";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "FAQs";
---

<BaseLayout
  pageTitle={pageTitle}
  seo={{
    title: `FAQs`,
    description: `Le domande più frequenti, dubbi e curiosità sul ${CONFIG.name} e i suoi eventi`,
    tags: [
      "evento",
      "palermo",
      "developer",
      "designer",
      "tech",
      "community",
      "web",
      "cloud",
      "faq",
    ],
    type: "website",
    image: "/images/logo_yellow.png",
    imageAlt: `FAQ del Beer Tech Group`,
    og: {
      title: `Domande più frequenti sul ${CONFIG.name} e i suoi eventi`,
    },
    twitter: {
      card: "summary",
    },
  }}
>
  <Tagline slot="after-header">
    <TaglineIcon icon="quiz" slot="icon" />
    <div class="mb-10">
      <h2>FAQs</h2>
      <h4>Dubbi e domande frequenti</h4>
    </div>
  </Tagline>
  <ContentSection>
    <ContentTitle>Community</ContentTitle>
    <Question>
      <div slot="question">Cosa è il {CONFIG.name}?</div>
      <div slot="answer">
        Il {CONFIG.name} è una community di appassionati di tecnologia: developers,
        designers, devops e chi più ne ha più ne metta. Nasce dalla voglia di creare
        una community di tecnofili coesa e sempre più grande, oltre che dall'idea
        di portare l'innovativo format <span class="italic">Tech and Beer</span
        >.
      </div>
    </Question>
    <Question>
      <div slot="question">Perché lo fate?</div>
      <div slot="answer">
        Abbiamo scoperto questo nuovo format e volevamo portare questa
        innovazione sul nostro territorio, creando una community informale in
        cui è incentivata la diversità in tutte le sue forme.
      </div>
    </Question>
    <Question>
      <div slot="question">Come pagate gli eventi?</div>
      <div slot="answer">
        Ricorriamo a degli sponsor oppure finanziamo da soli i nostri eventi.
        Non siamo un azienda, ma solo una community molto unita.
      </div>
    </Question>
    <Question>
      <div slot="question">Cosa ci guadagnate?</div>
      <div slot="answer">
        Assolutamente niente. I fondatori e le persone che contribuiscono al {
          CONFIG.name
        } sono tutti volontari e lavorano al progetto nel loro tempo libero.
      </div>
    </Question>
  </ContentSection>
  <ContentSection>
    <ContentTitle>Eventi</ContentTitle>
    <Question>
      <div slot="question">
        Cosa è il <span class="italic">Tech and Beer</span>?
      </div>
      <div slot="answer">
        Il <span class="italic">Tech and Beer</span> è un nuovo format innovativo
        che sta prendendo piede in tutta Europa. E' un evento informale che si svolge
        in un Pub o Birreria, in cui i partecipanti possono assistere a degli <span
          class="italic">speech</span
        > sorseggiando un'ottima birra, restando insieme e chiacchierando anche oltre
        la fine dell'evento per conoscersi e stare in compagnia. Nel nostro caso
        offriamo la possibilità di parlare con i mentor a disposizione, mentre i
        nostri sponsor offriranno il primo giro a tutti i partecipanti.
      </div>
    </Question>
    <Question>
      <div slot="question">Come faccio a partecipare ad un evento?</div>
      <div slot="answer">
        Partecipare è molto semplice: sul nostro sito e i nostri canali social
        annunceremo gli eventi. Ti basterà iscriverti e venire al locale
        indicato, all'ingresso la tua presenza sarà registrata e ti verrà dato
        un token, così potrai assistere ad interessantissimi <span
          class="italic">speech</span
        > mentre potrai gustarti la tua birra.
      </div>
    </Question>
    <Question>
      <div slot="question">Devo acquistare un biglietto per partecipare?</div>
      <div slot="answer">
        La partecipazione è <span class="font-bold">gratuita</span>, tuttavia
        per motivi logistici abbiamo un numero di posti limitato, quindi dovrai
        registrarti all'evento.
      </div>
    </Question>
    <Question>
      <div slot="question">Ci sono dei gadget?</div>
      <div slot="answer">
        Ad ogni evento metteremo a disposizione dei gadget esclusivi del {
          CONFIG.name
        }.
      </div>
    </Question>
    <Question>
      <div slot="question">Sono minorenne, posso partecipare?</div>
      <div slot="answer">
        Purtroppo no. I nostri eventi sono aperti solo a maggiorenni. Per
        saperne di più leggi il <a href="/code-of-conduct">codice di condotta</a
        >.
      </div>
    </Question>
  </ContentSection>
</BaseLayout>
