---
import { Picture } from "@astrojs/image/components";
import { Modal } from "accessible-astro-components";
import type { CollectionEntry } from "astro:content";
import ButtonSimple from "../input/ButtonSimple.astro";
import "./ContributorPreview.scss";

type Props = {
  person: CollectionEntry<"contributors">;
  className?: string;
  refId?: string;
};

const { person, refId = "contributor", className = "" } = Astro.props;

const { Content } = await person.render();

const { data, id } = person;

const cleanId = `${refId}_${id.replace(".mdx", "")}`;
---

<section class={`flex flex-col items-center justify-start ${className}`}>
  <Picture
    src={data.image}
    widths={[200]}
    aspectRatio="1:1"
    sizes="200px"
    alt={data.name}
    class="rounded-full"
  />
  <section class="mt-5 text-center">
    <h3 class="text-xl">{data.name}</h3>
    <h4 class={`${data.business || "hidden"} font-normal not-italic`}>
      {data.business}
    </h4>
    <h4 class="mb-3 font-normal italic">{data.role}</h4>
    <ButtonSimple color="secondary" variant="contained" id={cleanId}>
      Bio
    </ButtonSimple>
  </section>
</section>

<Modal class="contributor" triggerId={cleanId} closeText="Chiudi">
  <section class="mb-10 flex w-full flex-col items-center justify-center">
    <Picture
      src={data.image}
      widths={[200, 250]}
      aspectRatio="1:1"
      sizes="(max-width: 800px) 200px, 250px"
      class="mb-5 rounded-md"
      alt={data.name}
    />
    <h3 class="text-xl">{data.name}</h3>
    <h4 class={`${data.business || "hidden"} font-normal italic`}>
      {data.business}
    </h4>
  </section>
  <section class="content-md max-h-[300px] overflow-y-auto">
    <Content />
  </section>
</Modal>
