---
import Icon from "astro-icon";
import { CONFIG } from "../../config";

type Props = {
  link: `https://${string}` | `mailto:${string}`;
  kind:
    | "Telegram"
    | "Meetup"
    | "Twitter"
    | "Linkedin"
    | "Email"
    | "Github"
    | "Instagram";
  icon: string;
  pack: string;
  height?: number;
};

const { link, kind, icon, pack, height = 28 } = Astro.props;
---

<a href={link} aria-label={`${CONFIG.name} ${kind}`} target="_blank">
  <section
    class="flex h-[40px] w-[40px] flex-col items-center justify-center !p-0"
  >
    <Icon pack={pack} name={icon} style={`height: ${height}px; width: auto`} />
  </section>
</a>
