---
import { Picture } from "@astrojs/image/components";
import type { CollectionEntry } from "astro:content";

type Props = {
  sponsor: CollectionEntry<"sponsors">;
  className?: string;
};

const { sponsor, className = "" } = Astro.props;

const { data } = sponsor;
---

<section class={`flex flex-col items-center justify-start ${className}`}>
  <a href={data.url} title={data.name} target="_blank">
    <Picture
      src={data.logo.url}
      widths={[300, 500]}
      aspectRatio={data.logo.aspectRatio}
      sizes="300px"
      alt={data.name}
    />
  </a>
</section>
