---
import NavBar from "@components/navigation/NavBar.astro";
import BaseFooter from "./BaseFooter.astro";
import "./BaseLayout.scss";

type Props = {
  pageTitle: string;
  hasNavBarColor?: boolean;
  isNavBarSticky?: boolean;
};

const {
  pageTitle,
  isNavBarSticky = true,
  hasNavBarColor = false,
} = Astro.props;
---

<html lang="it">
  <head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{`Beer Tech Group - ${pageTitle}`}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
  </head>
  <body class="border-box prose">
    <div class="flex h-screen flex-col justify-between">
      <header>
        <NavBar
          pageTitle={pageTitle}
          hasColor={hasNavBarColor}
          sticky={isNavBarSticky}
        />
        <slot name="before-header" />
      </header>
      <section class="mb-auto px-4 sm:px-10">
        <slot />
      </section>
      <BaseFooter />
    </div>
  </body>
</html>
