---
import { getCollection } from "astro:content";
import moment from "moment";
import ContentSection from "../../components/display/ContentSection.astro";
import ContentTitle from "../../components/display/ContentTitle.astro";
import EventPreview from "../../components/display/EventPreview.astro";
import MosaicSection from "../../components/layouts/MosaicSection.astro";

import Tagline from "../../components/layouts/Tagline.astro";
import TaglineIcon from "../../components/layouts/TaglineIcon.astro";
import { CONFIG } from "../../config";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  return {
    params: { path: "" },
  };
}

const pageTitle = "Eventi";

const events = await getCollection("events", ({ data }) => data.draft !== true);

const pastEvents = events.filter((event) =>
  moment(event.data.date).isBefore(moment())
);
const futureEvents = events.filter((event) =>
  moment(event.data.date).isAfter(moment())
);
---

<BaseLayout
  pageTitle={pageTitle}
  seo={{
    title: `Eventi del ${CONFIG.group.name}`,
    description: `Raccolta completa di tutti gli eventi del ${CONFIG.group.name}, creata da developer, designer e tech`,
    tags: ["evento", "palermo", "developer", "designer", "tech", "community"],
    type: "event",
    image: "/logo.jpg",
    imageAlt: `Eventi del ${CONFIG.group.name}`,
    og: {
      title: `Gli eventi organizzati dal ${CONFIG.group.name}`,
    },
    twitter: {
      card: "summary",
    },
  }}
>
  <Tagline slot="after-header">
    <TaglineIcon icon="calendar_month" slot="icon" />
    <div class="mb-10">
      <h2>Eventi</h2>
      <h4>Tutti gli eventi del {CONFIG.group.name}</h4>
    </div>
  </Tagline>
  <ContentSection>
    <ContentTitle>Prossimi eventi</ContentTitle>
    {
      futureEvents.length > 0 ? (
        <MosaicSection>
          {futureEvents.map((event) => (
            <EventPreview event={event} className="my-5 sm:mx-5" />
          ))}
        </MosaicSection>
      ) : (
        <p class="text-center font-bold">
          Nessun evento in programma. Verifica tra qualche giorno.
        </p>
      )
    }
  </ContentSection>
  {
    pastEvents.length > 0 && (
      <ContentSection>
        <ContentTitle className="text-left">Eventi Passati</ContentTitle>
        <MosaicSection>
          {pastEvents.map((event) => (
            <EventPreview event={event} className="my-5 sm:mx-5" />
          ))}
        </MosaicSection>
      </ContentSection>
    )
  }
</BaseLayout>
